.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 159, 235);
    align-items: center;
}

.treading_title{
    font-size: 36px;
    font-weight: 900;
    color: white;
}

.movies_list{
    list-style: none;
}

.movie_list__item{
    position: relative;

}
.movie_list__item:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: yellow;
}

.movie_list__item__link{
    padding-left: 15px;
    color: white;
    text-decoration: none;
}

.movie_list__item__link:hover,
.movie_list__item__link:focus{
    text-decoration: underline;
}